// @use '../../shared/classes' as *;
@use '../../shared/constants' as *;

header {
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.navigationButton {
  background-image: url("../../../assets/images/button-navigation.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  background-color: transparent;
  border: 0;
  width: 50px;
  height: 50px;
}

.navigation {
  display: none;
  transform: translateX(0px);
  padding-top: 106px;

  &.is--active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: $grayscale-darkgray;
    color: white;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }

  &::before {
    display: block;
    content: "";
    background-image: url("../../../assets/images/button-detail-close.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    background-color: transparent;
    border: 0;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 25px;
    top: 25px;
  }

  li {
    padding: 12px;
    border-top: 1px solid $primary-blue2;
    margin-left: 10px;
    margin-right: 10px;
  }
}