@use "../functions/unit" as *;

@mixin fontRegular($fontSize: 16px) {
  font-size: rem($fontSize);
  font-weight: 400;
}
@mixin fontBold($fontSize: 16px) {
  font-size: rem($fontSize);
  font-weight: 700;
}
